@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Peoples</title>
</head>
<body>
    <h1>Iam glad to invite you to my party ,that will be in plaza club at 8 PM </h1>
    <a href="/Form/FormDetails">register</a>
    <a href="/Form/GetAllPeoples">see who come</a>
    
</body>
</html>